<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        id="cordova-plugin-pus" version="1.0.0">
    <name>PuS Mobile Plugin</name>
    <description>Plugin fuer die PuS Mobile APP</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/plugins.pus.js" name="PuS">
        <clobbers target="cordova.plugins.pus" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <source-file src="src/android/PuS.java" target-dir="src/de/ipus/timasapp" />
    </platform>
</plugin>